<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Media - 智能媒体处理平台</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sectionstyles.css') }}">
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="container nav-items">
                <a href="/" class="logo">AI Media</a>
                <ul class="nav-links">
                    <li><a href="/">首页</a></li>
                    <li><a href="/playground">工作台</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer class="footer">
        <div class="container">
            <p>© 2026 AI Media - 智能媒体处理平台</p>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>
